<!doctype html>
<html ng-app="linktalk" ng-cloak>
<head>
	<meta charset="UTF-8">
	<title>哈哈</title>
	<!-- build:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<!-- endbuild -->
	<link rel="stylesheet" href="css/main.css"></head>
<body>
	<div class="appall" ng-controller="bookController" >
		<div class="titleup">
			
				<span class="titleInfo">所有图书</span>
			
			
		</div>
		<div class="infoDown ">
			<div class="leftInfo ">
				<div>
					<div class="leftItem clickable "  ng-class="{choose:mainImageUrl==img}" ng-click="allbooks()">
						<span class="itemtitle">所有图书</span>
					</div>
					<div class="leftItem clickable" ng-click="mybooks()">
						<span class="itemtitle">我的图书</span>
					</div>
				</div>

			</div>
			<div class="rightInfo  ">
				 <div  class="row">
					<div ng-repeat="book in books" ng-mouseenter="hover(book)" ng-mouseleave="hover(book)"  class="book  col-sm-4 " >
						<a href={{book.url}}><img  class="clickable" src={{book.img}}></a>
						<span>{{book.name}}</span>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- build:js -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<!-- endbuild -->
	<script type="text/javascript" src ="js/app.js"></script>
</body>
</html>