<div class="postInfo">
	<div class="zansInfo" >
		<div><span class="pointer postUpBtn glyphicon glyphicon-chevron-up" keyid="{{keyid}}"></span></div>
		<span class="postZanNum">{{zanNum}}</span>
		<div><span class="pointer postDownBtn glyphicon glyphicon-chevron-down" keyid="{{keyid}}"></span></div>
	</div>
	<div class="titleInfo">
		<p class="p_title pointer" keyid="{{keyid}}">{{title}}</p>
		<p class="p_pinfo">
			<span >{{time}}</span>
			<span class="p_puserName">{{username}}</span>
		</p>
		<p class="p_title_control">
			
		</p>
	</div>
</div>